Repository uno791/SDP: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    project:
      client:
        flags: [client]
        target: auto
        threshold: 1%
      server:
        flags: [server]
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%

flags:
  client:
    paths:
      - client/
  server:
    paths:
      - server/

api testing
  README.md
  server/coverage/lcov-report/index.html
  server/coverage/lcov-report/server.ts.html
  server/coverage/lcov.info
  server/tests/jest.setup.ts
Due: server

fixed marquee
  client/src/pages/LandingPage.tsx
Due: client

Revert "fix server thing"
  server/server.ts
Due: server

removed tests
  client/src/components/FPLPageComp/__tests__/FPLBestPlayers.test.tsx
  client/src/components/FPLPageComp/__tests__/FPLDashboard.test.tsx
  client/src/components/FPLPageComp/__tests__/FPLLeagueInsights.test.tsx
  client/src/components/FPLPageComp/__tests__/FPLRecommendedTransfers.test.tsx
  client/src/components/FPLPageComp/__tests__/FPLSearch.test.tsx
  client/src/components/FPLPageComp/__tests__/FPLSummaryCard.test.tsx
  client/src/components/FPLPageComp/__tests__/FPLTeamLineup.test.tsx
Due: client

game animations
  client/package-lock.json
  client/src/components/LoginSignupComp/GoogleButtons/GoogleButton.module.css
  client/src/components/MatchViewerComp/GameSummaryCard.module.css
  client/src/components/MatchViewerComp/GameSummaryCard.tsx
  client/src/components/MatchViewerComp/MatchView.module.css
  client/src/components/MatchViewerComp/MatchViewerContent.tsx
  client/src/components/UserMatchViewer/UserMatchViewer.module.css
  client/src/components/UserMatchViewer/UserMatchViewer.tsx
  client/src/index.css
  client/src/pages/MatchViewer.tsx
  client/tailwind.config.js
Due: client

added stuff
  client/src/App.tsx
  client/src/api/fpl.ts
  client/src/components/FPLPageComp/FPLDashboard/FPLBestPlayers.module.css
  client/src/components/FPLPageComp/FPLDashboard/FPLBestPlayers.tsx
  client/src/components/FPLPageComp/FPLDashboard/FPLDashboard.module.css
  client/src/components/FPLPageComp/FPLDashboard/FPLDashboard.tsx
  client/src/components/FPLPageComp/FPLDashboard/FPLLeagueInsights.module.css
  client/src/components/FPLPageComp/FPLDashboard/FPLLeagueInsights.tsx
  client/src/components/FPLPageComp/FPLDashboard/FPLRecommendedTransfers.module.css
  client/src/components/FPLPageComp/FPLDashboard/FPLRecommendedTransfers.tsx
  client/src/components/FPLPageComp/FPLDashboard/FPLSummaryCard.module.css
  client/src/components/FPLPageComp/FPLDashboard/FPLSummaryCard.tsx
  client/src/components/FPLPageComp/FPLDashboard/FPLTeamLineup.module.css
  client/src/components/FPLPageComp/FPLDashboard/FPLTeamLineup.tsx
  client/src/components/FPLPageComp/FPLDashboard/FPLTransferAnalysis.module.css
  client/src/components/FPLPageComp/FPLDashboard/FPLTransferAnalysis.tsx
  client/src/components/FPLPageComp/FPLSearch/FPLSearch.module.css
  client/src/components/FPLPageComp/FPLSearch/FPLSearch.tsx
  client/src/components/FPLPageComp/Shared/FPLCard.module.css
  client/src/components/FPLPageComp/Shared/FPLCard.tsx
  client/src/pages/FPLPage.module.css
  client/src/pages/FPLPage.tsx
  server/server.ts
Due: client, server

Yessir
  client/src/components/LandingPageComp/FavouriteLandingMatchesCard.tsx
  client/src/components/LandingPageComp/PastMatchCard.tsx
  client/src/pages/LandingPage.tsx
Due: client

hate this stuff
  client/src/api/fpl.ts
  client/src/components/FPLPageComp/__tests__/FPLBestPlayers.test.tsx
  client/src/components/FPLPageComp/__tests__/FPLDashboard.test.tsx
  client/src/components/FPLPageComp/__tests__/FPLLeagueInsights.test.tsx
  client/src/components/FPLPageComp/__tests__/FPLRecommendedTransfers.test.tsx
  client/src/components/FPLPageComp/__tests__/FPLSearch.test.tsx
  client/src/components/FPLPageComp/__tests__/FPLSummaryCard.test.tsx
  client/src/components/FPLPageComp/__tests__/FPLTeamLineup.test.tsx
  client/src/components/__tests__/nav-and-layout.test.tsx
  client/vite.config.ts
  server/server.ts
Due: client, server

added favourite team matches
  client/src/components/FavouritePageComp/FavouriteTeamMatches.module.css
  client/src/components/FavouritePageComp/FavouriteTeamMatches.tsx
  client/src/components/FavouritePageComp/leagues.ts
Due: client

added more tests
  client/src/components/__tests__/game-summary-card.test.tsx
Due: client

added tests
  client/src/components/__tests__/commentary-feed-extended.test.tsx
  client/src/components/__tests__/match-viewer-content.test.tsx
  client/src/components/__tests__/player-stats-comp-extended.test.tsx
  client/src/pages/__tests__/create-match.test.tsx
  client/src/pages/__tests__/live-match-update.test.tsx
  client/src/pages/__tests__/matchviewer-page.test.tsx
  client/src/pages/__tests__/my-matches.test.tsx
Due: client

aniomations chnages
  client/src/index.css
  client/src/pages/MatchViewer.tsx
Due: client

fixing fpl
  server/server.ts
Due: server

fixing fpl 2
  client/src/api/fpl.ts
Due: client

fpl fix 3
  client/api/fpl/[...path].ts
  client/src/api/fpl.ts
Due: client

fpl fix 4
  client/api/fpl/[...path].ts
Due: client

testing something
  vercel.json
Due: none

remove thing
  vercel.json
Due: none

one more time
  client/src/api/fpl.ts
Due: client

last time
  client/src/api/fpl.ts
Due: client

put it back
  client/api/fpl/[...path].ts
  client/src/api/fpl.ts
Due: client

yabi fav tests
  client/src/Tests/LandingPage.test.tsx
  client/src/api/espn.ts
  client/src/components/FavouritePageComp/FavouriteTeamMatches.tsx
  client/src/components/LandingPageComp/FavouriteLandingMatchesCard.tsx
  client/src/components/LandingPageComp/PastMatchCard.tsx
Due: client

header
  client/src/components/LandingPageComp/Layout/Header.module.css
  client/src/components/LandingPageComp/Layout/Header.tsx
  client/src/components/__tests__/nav-and-layout.test.tsx
Due: client

some added
  client/src/App.tsx
  client/src/pages/LandingPage.tsx
  client/src/pages/WhatIsFootbook.module.css
  client/src/pages/WhatIsFootbook.tsx
Due: client

header chnages
  client/src/components/LandingPageComp/Layout/Header.module.css
  client/src/components/LandingPageComp/Layout/Header.tsx
Due: client

cache favourites
  client/src/components/LandingPageComp/Layout/Header.tsx
  client/src/pages/FavouritesPage.tsx
  client/src/pages/ProfilePage.tsx
  client/src/utils/favouritesCache.ts
Due: client

what is footbook
  client/src/components/LandingPageComp/Layout/Header.module.css
  client/src/components/LandingPageComp/Layout/Header.tsx
  client/src/components/__tests__/nav-and-layout.test.tsx
Due: client

header can take you back to home
  client/src/components/LandingPageComp/Layout/Header.module.css
  client/src/components/LandingPageComp/Layout/Header.tsx
  client/src/components/__tests__/nav-and-layout.test.tsx
Due: client

fixed csv upload format
  client/src/Tests/CreateMatch.test.tsx
  client/src/pages/MatchPages/CreateMatch.tsx
  client/src/pages/MatchPages/__tests__/CreateMatch.test.tsx
  client/src/pages/__tests__/create-match.test.tsx
Due: client

removed all fpl code
  client/src/App.tsx
  client/src/api/fpl.ts
  client/src/components/FPLPageComp/FPLDashboard/FPLBestPlayers.module.css
  client/src/components/FPLPageComp/FPLDashboard/FPLBestPlayers.tsx
  client/src/components/FPLPageComp/FPLDashboard/FPLDashboard.module.css
  client/src/components/FPLPageComp/FPLDashboard/FPLDashboard.tsx
  client/src/components/FPLPageComp/FPLDashboard/FPLLeagueInsights.module.css
  client/src/components/FPLPageComp/FPLDashboard/FPLLeagueInsights.tsx
  client/src/components/FPLPageComp/FPLDashboard/FPLRecommendedTransfers.module.css
  client/src/components/FPLPageComp/FPLDashboard/FPLRecommendedTransfers.tsx
  client/src/components/FPLPageComp/FPLDashboard/FPLSummaryCard.module.css
  client/src/components/FPLPageComp/FPLDashboard/FPLSummaryCard.tsx
  client/src/components/FPLPageComp/FPLDashboard/FPLTeamLineup.module.css
  client/src/components/FPLPageComp/FPLDashboard/FPLTeamLineup.tsx
  client/src/components/FPLPageComp/FPLDashboard/FPLTransferAnalysis.module.css
  client/src/components/FPLPageComp/FPLDashboard/FPLTransferAnalysis.tsx
  client/src/components/FPLPageComp/FPLSearch/FPLSearch.module.css
  client/src/components/FPLPageComp/FPLSearch/FPLSearch.tsx
  client/src/components/FPLPageComp/Shared/FPLCard.module.css
  client/src/components/FPLPageComp/Shared/FPLCard.tsx
  client/src/components/FPLPageComp/__tests__/FPLBestPlayers.test.tsx
  client/src/components/FPLPageComp/__tests__/FPLDashboard.test.tsx
  client/src/components/FPLPageComp/__tests__/FPLLeagueInsights.test.tsx
  client/src/components/FPLPageComp/__tests__/FPLRecommendedTransfers.test.tsx
  client/src/components/FPLPageComp/__tests__/FPLSearch.test.tsx
  client/src/components/FPLPageComp/__tests__/FPLSummaryCard.test.tsx
  client/src/components/FPLPageComp/__tests__/FPLTeamLineup.test.tsx
  client/src/pages/FPLPage.module.css
  client/src/pages/FPLPage.tsx
  server/server.ts
Due: client, server

more tests
  client/src/Tests/Commentary.test.tsx
  client/src/Tests/WhatIsFootbook.test.tsx
  client/src/components/LandingPageComp/Layout/__tests__/Header.test.tsx
  client/src/components/UserMatchViewer/__tests__/UserMatchViewer.test.tsx
  client/src/components/__tests__/match-page-comp.test.tsx
  client/src/utils/__tests__/favouritesCache.test.ts
Due: client

Added: additional testing to MatchViewer aimed at covering the 90+ uncovered lines as well as added tests to PlayerStatsPage aimed at covering 100+ uncovered lines.
  client/src/Tests/MatchViewer.test.tsx
  client/src/Tests/PlayerStatsPage.test.tsx
Due: client

Added: comprehensive test coverage for favourites and match UI components, targeting ~120 uncovered lines.
  client/src/components/FavouritePageComp/__tests__/FavouriteTeamMatches.test.tsx
  client/src/components/LandingPageComp/__tests__/FavouriteLandingMatchesCard.test.tsx
  client/src/components/LandingPageComp/__tests__/LiveMatchCard.test.tsx
  client/src/components/LandingPageComp/__tests__/ReportModal.test.tsx
  client/src/components/LoginSignupComp/Auth/__tests__/AuthPanel.test.tsx
Due: client

Added: extended test coverage for CreateMatch, LiveMatchUpdate, and PastMatchCard components.
  client/src/Tests/LiveMatchUpdate.test.tsx
  client/src/components/LandingPageComp/__tests__/PastMatchCard.test.tsx
  client/src/pages/MatchPages/__tests__/CreateMatch.test.tsx
Due: client

added new teams
  client/src/pages/FavouritesPage.tsx
  server/server.ts
Due: client, server

added new teams
  client/src/components/LandingPageComp/Layout/Header.tsx
  client/src/pages/FavouritesPage.tsx
  client/src/pages/ProfilePage.tsx
  client/src/pages/__tests__/FavouritesPage.test.tsx
Due: client

added new teams
  client/src/components/FavouritePageComp/FavouritesPage.module.css
  client/src/pages/FavouritesPage.tsx
Due: client
